body {
    font-family: "Segoe UI", Arial, sans-serif;
    background-color: #f4f6f8;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
}

.app-container {
    width: 85%;
    margin: auto;
    padding: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.radio-group {
    margin-bottom: 20px;
    font-size: 16px;
}
